html {
    scroll-behavior: smooth;
}
input {
    padding: 10px;
    border: 2px solid teal;
    margin: 10px;
    cursor: pointer;
}
input.submit {
    background-color: white;
    color: teal;
    cursor: pointer;
}
input.submit:hover {
    background-color: teal;
    color: white;
}
.formlabel {
    padding-left: 15px;
    color: teal;
}
/*popup contact*/
*{
    box-sizing: border-box;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  #keyframeanimate {
    width: 100px;
    height: 100px;
    background: azure;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  @keyframes keyframezoom {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
  }
  #keyframezoom img {
      margin-top: 300px;
      animation: keyframezoom 15s forwards;
  }
  #slideshow {
      margin: 80px auto;
      position: relative;
      width: 240px;
      height: 240px;
      padding: 10px;
  }
  #slideshow > div {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
  }